:root{
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent: #2196F3;
    --font-color: #ffffff;
    --secondary-font-color: #2F303A;
    ;
    --third-font-color: #F5F4FA;
}
h1, h2, h3, p{margin-top: 0;
margin-bottom: 0;}
html {box-sizing: border-box;}
*, *::before, *::after {box-sizing: inherit;}
body { background-color: var(--font-color);
color: var(--primary-text-color);
margin: 0;

font-family: roboto, sans-serif;
letter-spacing: 0.03em;
font-size: 14px;
line-height: 1.7;}

.list { list-style: none;
padding: 0;
margin: 0;}
.list-item {margin-bottom: 0;}
a{text-decoration: none;}
.container {width: 1230px;
padding-left: 15px;
padding-right: 15px;
background-color: tomato;}

/* header */
.logo { color: var(--accent);

font-family: raleway;
font-weight: bold;
font-size: 26px;
line-height: 1.19;}

.accent {color: var(--primary-text-color);}
.accent-footer{color: var(--font-color);}

.site-nav a{
    color: var(--primary-text-color);
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;}

.site-nav a:hover, .site-nav a:focus{
    color: var(--accent);
}
.site-nav .current{
    color: var(--accent);
}
.contacts a{
    color: var(--secondary-text-color);

    font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}
.contacts a:hover, .contacts a:focus{color: var(--accent);}

/* hero */
.hero{ background-color: var(--secondary-font-color);
    text-align: center;
padding-top: 200px;
padding-bottom: 200px;}
.hero-title { color: var(--font-color);
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    
    letter-spacing: 0.06em;
    text-transform: uppercase;}

/* section */
.section {
padding-bottom: 94px;}
.section-title {color: var(--primary-text-color);
    margin-top: 0;
    margin-bottom: 50px;
    
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;}
.section h3{
    margin-bottom: 10px;

        font-weight: bold;
        font-size: 14px;
        line-height: 1.14;}

.section p {color: var(--secondary-text-color);
margin-bottom: 0;
margin-top: 0;}
.section-our-team {background-color: var(--third-font-color);
padding-top: 94px;
padding-bottom: 94px;}
.section-our-team p{color: var(--secondary-text-color);
    
    font-size: 16px;
    line-height: 19px;
    text-align: center;}

.section-our-team h3{
    margin-bottom: 10px;
    margin-top: 30px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;}
    
/* button */
button {color: var(--font-color);
    background: var(--accent);
cursor: pointer;
border-radius: 4px;
padding: 10px 32px;
min-width: 200px;
text-align: center;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border: 0;

font-family: inherit;
font-weight: bold;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
}
button:hover, button:focus {background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 0;}

.filter-button { color: var(--primary-text-color);
background-color: var(--third-font-color);
border-radius: 4px;
display: inline-block;
text-align: center;
padding: 6px 22px;
box-shadow: none;

font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.63;
letter-spacing: 0.03em;}

.filter-button:hover, .filter-button:focus{ color: var(--font-color);
background-color: var(--accent);
border-radius: 4px;
box-shadow: none;}

    /* footer */
    footer{ background-color: var(--secondary-font-color);}
    footer .logo{margin-bottom: 20px;}
    .adress {color: var(--font-color);
    margin-bottom: 9px;}
    .adress:hover, .adress:focus{color: var(--accent);}
    .contacts-footer {color: #FFFFFF99;
    margin-bottom: 9px;}
    .contacts-footer:hover, .contacts-footer:focus{color: var(--accent);}
    address{font-style: normal;}
    /* porfolio */

    .link-portfolio p{color: var(--secondary-text-color);
        
        font-size: 16px;
        line-height: 1.9;}
    .link-portfolio h2{color: var(--primary-text-color);
    
        font-weight: bold;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;}